{% extends "jobs/base.html" %}

{% block title %}..::: JobsJua | Entre em sua conta :::.. {% endblock title %}

{% block title-page %}
  ENTRE EM SUA CONTA
{% endblock title-page %}

{% block main %}
<div class="flex min-h-full flex-col justify-center  px-6 my-10 
  md:px-8
  lg:px-8 
">
  <div class="mt-1 
    sm:w-full sm:max-w-sm  sm:mx-auto
  ">
    <form class="space-y-6" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <div>
        <label for="email" class="block text-sm/6 font-medium text-gray-900">Email:</label>
        <div class="mt-2">
          {{ form.email }}
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm/6 font-medium text-gray-900">Senha:</label>
          <a href="{% url 'recovery_password' %}" class=" text-[#344E41] hover:text-[#588157]">Recuperar senha</a>
        </div>
        <div class="mt-2">
          {{ form.password }}
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-[#588157] hover:bg-[#3A5A40] duration-300 px-3 py-2 text-sm/6 font-semibold text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#3A5A40]">Entrar</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Não é cadastrado?
      <a href="{% url 'register' %}" class="font-semibold text-[#344E41] hover:text-[#588157] duration-300">Cadastre-se aqui!</a>
    </p>
  </div>
</div>
{% endblock %}