{% extends "jobs/base.html" %}


<{% block title-page %}
  ENTRE EM SUA CONTA
{% endblock title-page %}

{% block main %}
<div class="flex min-h-full flex-col justify-center  px-6 py-0 lg:px-8 border-solid border-2 border-black-100 ">
  <div class="mt-1 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action="#" method="POST">
      <div>
        <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
        <div class="mt-2">
          <input type="email" name="email" id="email" autocomplete="email" required  placeholder="Informe o email cadastrado..." class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-green-500 sm:text-sm/6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm/6 font-medium text-gray-900">Senha</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-gray-800 hover:text-green-500">Esqueci minha senha</a>
          </div>
        </div>
        <div class="mt-2">
          <input placeholder="Informe sua senha..." type="password" name="password" id="password" autocomplete="current-password" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-green-500 sm:text-sm/6">
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-green-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-green-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Entrar</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Não é cadastrado?
      <a href="{% url 'register' %}" class="font-semibold text-green-500 hover:text-green-400">Cadastre-se aqui!</a>
    </p>
  </div>
</div>
{% endblock %}