{% extends "jobs/base.html" %}
{% load icons %}


<{% block title-page %}
  OLÁ, {{ user.username|upper }} {% icon 'happy' %}
{% endblock title-page %}


{% block main %}
    {% for item in company_vacancie %}
      <a href="{% url 'secret_one_vacancie' id=item.id %}" 
        class="w-[90%] h-auto bg-[#A3B18A]  hover:bg-[#588157] duration-300  p-4 rounded-sm mt-2
        md:w-[60%]
        lg:w-[30%] lg:ml-4  
      ">
      
        <strong class="text-[12px] text-black-900" >{{ item.create_at }}</strong> <br>
        <br>
        <strong>Vaga: </strong>{{ item.title }}<br>
        <strong>Salário: </strong>{{ item.wage|floatformat:2 }} Reais  <br>
        <strong>Modalidade: </strong> {{ item.modality }} <br>
        <strong>Jornada: </strong> {{ item.weekly_journey }} <br>
        <strong>Turno: </strong> {{ item.work_shift }} <br>
        
      </a>
    {% endfor %}
{% endblock %}