{% extends "jobs/base.html" %}
{% load icons static %}

{% block title %}..::: JobsJua | Informe o seu E-mail :::.. {% endblock title %}

{% block title-page %}
<div class="
px-8 flex justify-center flex-col items-center
md:w-[60vw]
lg:w-[40vw]
">
<img class="mb-10" src="{%  static 'svg/recovery_password.svg' %}" alt="" srcset="">
    RECUPERAÇÃO DE SENHA 
</div>

{% endblock title-page %}


{% block main %}
    <form action="{% url 'recovery_password' %}" method="POST" class="w-[90%] flex flex-col ">{% csrf_token %}

        <div class="my-4">
            <label for="email" class="block text-sm/6 font-medium text-gray-900">Email cadastrado:</label>
            <div class="mt-2">
                {{ form.email }}
            </div>
        </div>

        <div class="my-4">
            <label for="password" class="block text-sm/6 font-medium text-gray-900">Nova senha:</label>
            <div class="mt-2">
                {{ form.password }}
            </div>
        </div>

        <div class="my-4">
            <label for="password" class="block text-sm/6 font-medium text-gray-900">Confirme a sua nova senha:</label>
            <div class="mt-2">
                {{ form.password2 }}
            </div>
        </div>
        
        <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-[#588157] hover:bg-[#3A5A40] duration-300 px-3 py-2 text-sm/6 font-semibold text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#3A5A40]">Recuperar</button>
        </div>

    </form>
{% endblock %}