{% extends "jobs/base.html" %}
{% load icons %}

{% block title %}..::: JuaJobs | Informe o seu E-mail :::.. {% endblock title %}

<{% block title-page %}
  RECUPERAÇÃO DE SENHA {% icon 'happy' %}
{% endblock title-page %}


{% block main %}
    <form action="{% url 'recovery_password' %}" method="POST" class="w-[90%] flex flex-col ">{% csrf_token %}

        <div class="my-4">
            <label for="email" class="block text-sm/6 font-medium text-gray-900">Email cadastrado:</label>
            <div class="mt-2">
                {{ form.email }}
            </div>
        </div>
        
        <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-[#588157] hover:bg-[#3A5A40] duration-300 px-3 py-2 text-sm/6 font-semibold text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#3A5A40]">Recuperar</button>
        </div>

    </form>
{% endblock %}