{% extends "jobs/base.html" %}

{% block title-page %}
  CADASTRO EMPRESA
{% endblock title-page %}

{% block main %}
<form class="space-y-5 flex flex-wrap w-[40%] h-auto py-10 px-2 rounded-lg border-solid border-2 border-black-100" action="register" method="POST"> 
  {% csrf_token %}

  <!-- CADASTRO EMPRESA CNPJ -->
  <div class="p-2">
    <label for="cnpj" class="block text-sm/6 font-medium text-gray-900">CNPJ</label>
    <div class="mt-2">
      {{ form.cnpj }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA RAZÃO SOCIAL -->
  <div class="p-2">
    <label for="username" class="block text-sm/6 font-medium text-gray-900">Razão social</label>
    <div class="mt-2">
      {{ form.username }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA SETOR -->
  <div class="p-2">
    <label for="setor" class="block text-sm/6 font-medium text-gray-900">Setor de atuação</label>
    <div class="mt-2">
      {{ form.sector }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA EMAIL -->
  <div class="p-2">
    <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
    <div class="mt-2">
      {{ form.email }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA TELEFONE -->
  <div class="p-2">
    <label for="phone" class="block text-sm/6 font-medium text-gray-900">Telefone</label>
    <div class="mt-2">
      {{ form.phone }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA WHATSAPP -->
  <div class="p-2">
    <label for="whatsapp" class="block text-sm/6 font-medium text-gray-900">WhatsApp</label>
    <div class="mt-2">
      {{ form.whatsapp }}
    </div>
  </div>

  <!-- CADASTRO EMPRESA "ESTA CONTRATANDO" -->
  <div class="p-2">
    <label for="is_hiring" class="block text-sm/6 font-medium text-gray-900">Está contratando</label>
    <div class="mt-2">
      {{ form.is_hiring }}
    </div></input>
  </div>

  <!-- CADASTRO EMPRESA "SENHA" -->
  <div class="p-2">
    <label for="password" class="block text-sm/6 font-medium text-gray-900">Senha</label>
    <div class="mt-2">
      {{ form.password }}
    </div>
  </div>

  <div class="w-[60%] m-auto">
    <button type="submit" class="flex w-full justify-center rounded-md bg-green-500  py-3 text-sm/6 font-semibold text-white shadow-sm hover:bg-green-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Cadastrar</button>
  </div>
</form>
{%  endblock %}