{% extends "jobs/base.html" %}

{% block title-page %} 
  {{ vacancie|upper }}
{% endblock title-page %}

{% block main %}

  <div class=" 
    w-[85vw] h-auto bg-green-200 rounded flex flex-col py-6
    md:w-[80%] 
    lg:w-[80%]
  ">

    <strong class="text-center text-[12px] text-black-900">N°: {{ vacancie.id }}</strong> 
    <strong class="text-center text-[12px] text-black-900" >{{ vacancie.create_at }}</strong> <br>

    <ul class="flex flex-wrap text-[1.2rem]">
      <li class=" mt-2 p-4">
        <strong>Vaga:</strong> 
        <p>{{ vacancie.title }}</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Empresa:</strong> 
        <p>{{ vacancie.enterprise }}</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Email:</strong> 
        <p>{{ vacancie.email }}</p>
      </li>

      <li class="mt-2 p-4">
        <strong>WhatsApp:</strong> 
        <p>{{ vacancie.whatsapp }}</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Tipo:</strong> 
        <p>{{ vacancie.modality }}</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Jornada semanal:</strong> 
        <p>{{ vacancie.weekly_journey }}</p>
      </li>

      
       <li class="mt-2 p-4">
        <strong>Salário:</strong> 
        <p>R${{ vacancie.wage }}</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Turno:</strong> 
        <p>{{ vacancie.work_shift }}</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Descrição:</strong> 
        <p >
          {{ vacancie.description }}
        </p>
      </li>
    </ul>

    <!-- Botoes -->
    <div class="flex justify-around mt-4">

        <a 
          href="{% url 'edit_vacancie' id=vacancie.id %}" 
          class="w-[30%] h-auto p-3 flex justify-center items-center bg-blue-700 hover:bg-blue-600 rounded-md">
          Editar
        </a>
   

      <a 
        href="{% url 'delete_vacancie' id=vacancie.id %}"
        class=" w-[30%] h-auto p-3 flex justify-center items-center bg-red-700 hover:bg-red-600  rounded-md">
        Deletar
      </a>
    </div>

  </div>
  


{% endblock main %}