@tailwind base;
@tailwind components;

@font-face {
  font-family: "NunitoLight";
  src: url("../fonts/NunitoLight.ttf") format("ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "NunitoRegular";
  src: url("../fonts/NunitoRegular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "NunitoBold";
  src: url("../fonts/NunitoBold.ttf") format("ttf");
  font-weight: 800;
  font-display: swap;
}

@tailwind utilities;
