{% load static %}
{% load icons %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- ========== TITULO DA ABA DO CHROME ========== -->
    <title>{% block title %}{% endblock %}</title>
    
  </head>

  <body class="box-border">
    <div class="flex flex-col items-center  w-[100vw] h-auto ">

      <!-- ========== CABEÇALHO PARA EMPRESA AUTENTICADA ========== -->
      {% if user.is_authenticated == True %}
        <header class=" flex w-[100vw] items-center justify-around h-[10vh] py-2"> 

          <div class="flex w-[70vw] h-[100%]  justify-start items-center ">
            <a href="{% url 'platform' %}" 
              class="w-auto ml-4 h-10 px-4 bg-[#588157] hover:bg-[#3A5A40] duration-300 text-slate-100 rounded flex items-center justify-center">
              Ver vagas
            </a>

            <a href="{% url 'new_vacancie' %}" 
              class="w-auto ml-2 h-10 px-4 bg-[#588157] hover:bg-[#3A5A40] duration-300 text-slate-100 rounded flex items-center justify-center">
              Nova vaga
            </a>
          </div>
            
          <div class=" w-[30vw]  h-[100%] flex items-center justify-center
            md:justify-end">
                <a href="{% url 'logout' %}"
                  class="w-20 h-10 bg-[#941b0c] hover:bg-[#ad0005] duration-300 text-slate-100 rounded flex items-center justify-center
                  md:mr-4
                ">
                  {% icon 'logout' %}
                </a>
          </div>

        </header>
      {% else %}
        <!-- ========== CABEÇALHO PARA EMPRESA NÃO AUTENTICADA ========== -->
        <header class=" flex w-[100vw] items-center justify-around h-[10vh] py-2"> 
          <div class="flex w-[70vw] h-[100%]  justify-around items-center
            md:justify-start"
          >

            <a href="{% url 'home' %}"
              class=" w-20 h-10 bg-[#588157] hover:bg-[#3A5A40] duration-300 text-slate-100 rounded flex items-center justify-around px-1
              md:ml-4"
            > {% icon 'home' %}
            </a>

            <a href="{% url 'view_vacancies' %}" 
              class="w-20 h-10 bg-[#588157] hover:bg-[#3A5A40] duration-300 text-slate-100 rounded flex items-center justify-center
              md:ml-2">
              Vagas
            </a>

            <a href="#"
              class="w-20 h-10 bg-[#588157] hover:bg-[#3A5A40] duration-300 text-slate-100 rounded flex items-center justify-center
              md:ml-2"
            >
              Sobre
            </a>
          </div>
            
            <div class="w-[30vw] h-[100%] flex items-center justify-center 
              md:justify-end
            ">
                <a href="{% url 'login' %}"
                  class="w-[80%] h-10 px-1 bg-[#344E41] hover:bg-[#3A5A40] duration-300 text-slate-100 rounded flex items-center justify-evenly
                  md:mr-4 md:w-[30%]
                  lg:w-[20%]
                ">
                  Entrar {% icon 'login' %}
                </a>
            </div>
        </header>
      {% endif %}

      <!-- ========== TITULO DAS PAGINAS ========== -->
      <h2 class=" font-bold text-xl my-10 text-[#344E41]">
        {% block title-page %}
        {% endblock title-page %}
      </h2>

      <!-- ========== CONTEUDO PRINCIPAL ========== -->
      <main class="py-5 rounded-lg border-solid border-2 border-black-100 container flex flex-wrap flex-col-reverse   items-center w-[90%] h-auto
        md:flex-row md:w-[90vw] md:flex-wrap md:justify-center
        lg:flex-row lg:w-[70vw] lg:flex-wrap lg:justify-center
      ">
        {% block main %}{% endblock main %}
      </main>

      <footer class="w-[100%] h-[10%]  flex items-center justify-center my-4">
        <div>
          © Desenvolvido por <a class="text-[#588157] font-bold" href="mailto:caio.ayslan.nunes@gmail.com">Caio Cavalcante</a> - <a href="tel:+5574988594619" class="text-[#588157] font-bold">74988594619</a>
        </div>
      </footer>

    </div>

    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>