{% extends "jobs/base.html" %}
{% load icons static %}

{% block title %}..::: JobsJua | Página inicial  :::.. {% endblock title %}

{% block main %}
<div class="w-full flex flex-col justify-center items-center px-6 md:w-[70%] lg:w-[50%]">
    <img class="w-[80%] h-60 mt-8" src="{% static 'svg/hello.svg' %}" alt="">
    <h2 class=" text-center mt-8 text-lg">
        Encontre as melhores oportunidades em Juazeiro-BA, sem sair de casa! 
        JobsJua: o caminho mais rápido para o seu próximo emprego!
    </h2>
    <a href="{% url 'register' %}" class="flex w-[70%] justify-center rounded-md bg-[#588157] hover:bg-[#3A5A40] duration-300 mt-8 py-3 text-sm/6 font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"> Cadastrar empresa</a>
    <h2 class=" text-center mt-4 text-lg">ou</h2>
    <a href="{% url 'view_vacancies' %}" class="flex w-[90%] justify-center rounded-md bg-[#588157] hover:bg-[#3A5A40] duration-300 my-4 py-3 text-sm/6 font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Acessar vagas</a>
</div>
{% endblock main %}