{% extends "jobs/base.html" %}

{% block title %} detalhes da vaga: {{ id_vacancie }}{% endblock %}

{% block main %}
<div class=" w-[40vw] h-auto bg-green-200 rounded flex flex-col p-5">

    <strong># {{ id_vacancie }}</strong> <br>

    <ul class="flex flex-wrap">
      <li class="mt-2 p-4">
        <strong >Titulo:</strong> 
        <p>Vaga de Motorista</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Empresa:</strong> 
        <p>Andrade Gutierrez</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Email:</strong> 
        <p>Andrade@gutierrez.com</p>
      </li>

      <li class="mt-2 p-4">
        <strong>WhatsApp:</strong> 
        <p>74988594619</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Tipo:</strong> 
        <p>CLT</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Jornada semanal:</strong> 
        <p>44 hrs</p>
      </li>

      
       <li class="mt-2 p-4">
        <strong>Salário:</strong> 
        <p>R$1504,00</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Turno:</strong> 
        <p>Diurno</p>
      </li>

      <li class="mt-2 p-4">
        <strong>Descrição:</strong> 
        <p >
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Fugiat reprehenderit, sit suscipit aperiam hic modi? Dolores
          quae repudiandae labore nisi saepe.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Fugiat reprehenderit, sit suscipit aperiam hic modi? Dolores
          quae repudiandae labore nisi saepe.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Fugiat reprehenderit, sit suscipit aperiam hic modi? Dolores
          quae repudiandae labore nisi saepe.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Fugiat reprehenderit, sit suscipit aperiam hic modi? Dolores
          quae repudiandae labore nisi saepe.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Fugiat reprehenderit, sit suscipit aperiam hic modi? Dolores
          quae repudiandae labore nisi saepe.
        </p>
      </li>
    </ul>
  </div>
{% endblock main %}