{% extends "jobs/base.html" %}

{% block title %} Veja nossas vagas{% endblock %}

{% block title-page %}
  VEJA NOSSAS VAGAS
{% endblock title-page %}

{% block main %}

  {% for item in vacancie %}
    <a href="{% url 'view_one_vacancie' id=item.id %}" class="w-[95%] 
      h-auto bg-green-500  hover:bg-green-400  p-4 rounded-md my-2
       md:ml-4 md:w-[25%]
       lg:ml-4 lg:w-[25%]
    ">
      <strong class="text-[12px] text-black-900" >{{ item.create_at }}</strong> <br>
      <br>
     
      <strong>Titulo: </strong>{{ item.title }}<br>
      <strong>Empresa: </strong> {{ item.enterprise }} <br>
      <strong>Salário: </strong> {{ item.wage }}  <br>
      <strong>Modalidade: </strong> {{ item.modality }} <br>
      <strong>Jornada: </strong> {{ item.weekly_journey }} <br>
    </a>
  {% endfor %}

{% endblock main %}